*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-color: #f1f4f7;
  padding: 0 48px;
  color: #021414;
}

main,
aside {
  max-width: 800px;
  margin: 24px auto;
  padding: 16px 32px;
  border: 2px dotted lightslategray;
  border-radius: 4px;
  position: relative;
}

ul {
  width: max-content;
}

li {
  margin: 8px 0;
}

.user {
  position: relative;
  border: 2px solid lightslategray;
  border-radius: 8px;
  box-shadow: 4px 4px 0 lightslategray;
  padding: 20px;
  max-width: 400px;
  margin: 0;
  background-color: white;
}

.name {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
}

.bio {
  font-size: 14px;
  color: darkslategray;
}

.location {
  font-size: 12px;
  font-weight: 600;
  text-align: end;
  margin: 0;
}

aside .user {
  max-width: 250px;
  padding: 12px;
  border-radius: 4px;
}

aside .name {
  font-size: 16px;
}

aside .bio {
  font-size: 12px;
  margin: 6px 0;
}

aside .location {
  font-size: 10px;
}

ul .user .bio {
  display: none;
}

ul .user .location {
  text-align: left;
  color: darkslategray;
}

/*

  Make sure to not change the styles of the .user element anywhere else.
  
  To facilitate layout debugging, apply the 'debug' class to the <html> element. 
  This triggers visual helper styles from 'debug.css' that outline structural elements
  like <body>, <main>, <aside>, <ul>, and .user with labeled overlays for easy identification.
*/
